	body {
	background:#000000 url(https://raw.githubusercontent.com/Kalmakuningas/WWW-ja-Internet/master/Images/WebPageBG.jpg) repeat-x center top;
	}
	#map {
	height: 500px;
	width: 100%;
	}
	#wrap {
	width:700px;
	margin:0px auto 15px auto;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	color: #B32C0E;
	background: rgba( 19, 19, 19, 0.5);
	padding: 5px 20px
	}
	/* Header */
	#header {
		height:242px;
			background:url("https://raw.githubusercontent.com/Kalmakuningas/WWW-ja-Internet/master/Images/Web_page_Header.png") no-repeat left top;
			clear: both;
		}
	#topbar {
	height:78px;
	}
	table {
		border-spacing: 5px;
		background-color: #131313;
	}
	
	table, th, td {
	border:1px solid F2F7F3;
		padding: 15px;
	}
	th {
	text-align: left;
	}
	
	table#t1 {
		width: 75%;
		background-color: black;
		
	}
		/*Header Menu*/
		#topmenu {
			display:block;
			list-style:none;
			padding:0 0px 0px 278px;
			float: right;
			width:415px;
			background-color:black;
			position: fixed;
		}
		#topmenu li {
			diplay:inline;
		}
		#topmenu a {
			display:block;
			float:left;
			height:28px;
			margin:0px 0px 0px0px;
			text-decoration:none;
			padding:9px 15px 0px 15px;
			text-align:center;
		}
		#topmenu a, #topmenu a:visited, #topmenu a:active {
			color:#FFFFFF;
		}
		#topmenu a:hover{
			color:#B52E10;
			background-color: #FFFFFF;
		}
		#topmenu .active a, #topmenu .active a:visited, #topmenu .active a:active{
			color:#FFFFFF;
			background-color: #B42D0F;
		}
		#gallery {
		
		}
		}
		/*Content*/
		#content {
			background-color: #FFFFFF;
		}
		#canvas {
			border:#131313 1px solid;
		}
		#dragger {
		width: 350px;
		height: 70px;
 		padding: 10px;
  		border: 1px solid #131313;
		}
		#map	{
		width: 500px;
		height: 500px;
		padding: 15px;
		border: 1px solid #131313;
		}
		#mainpage {
			width:700px;
			float:left;
			padding:5px 5px 5px 0px;
			height:auto
		}
		#mainpage p {
			line-height:22px;
			margin:10px 0px 22px 0px;
			text-align: justify;
		}
		#mainpage blockquote {
			backround:#efefef;
			display:block;
			margin:5px;
			font:Georgia, "Times New Roman", Times, Serif;
		font-style:italic;}
		h1, h2, h3, h4, h5 {
			color:#B32C0E;
			font-weight:bold;
			font-family: Arial, Helvetiva, sans-serif;
		}
		#mainpage h1 {
			font-size:px24;
			color: #F2F7F3;
		}
		#mainpage h2 {
			font-size:18px;
			padding-top: 20px;
			padding-bottom: 5px;
			border-bottom: 1px solid #B52E10;
		}
		#mainpage h3 {
			font-size:20px;}
		#mainpage h4 {
			font-size:18px;}
		#mainpage h5 {
			font-size:16px;}
		#footer {
		margin:0 auto;
			width:685px;
			height:20px;
			padding:10px;
			color:#FFFFFF;
			text-align: center;
			background:#333333;
			font-family: Verdana, Arial, Helvetica, sans-serif;
			font-size: 11px;
			clear: both;
		}
			
		}
	
		
